.Rproj.user
.Rhistory
.RData

*.dta
**/*.png
*.html
*.png
Quarto/december_sims_files/libs/bootstrap/bootstrap-icons.woff
.DS_Store
Quarto/december_sims_files/libs/bootstrap/bootstrap-icons.css
*.css
*.js
*.png
*.stswp
*.html
*.RData
*.rdb
*.rdx
*.woff
*.stswp
*.png
*.png
*.pdf
old_user/*
*.docx
*.RDS
*.db
*output.array*
Results/Dataabse*
Results/Database-extracts*